<section class="intro-single bg-image">
    <div>
        <div class="container-fluid">
            <div class="row justify-content-center">
                <p-card class="rounded-4">
                    <ng-template pTemplate="header">
                        <img class="w-50 img-fluid" src="https://blobcuakhoa.blob.core.windows.net/files/success.gif">
                    </ng-template>
                    <ng-template pTemplate="content">
                        <p class="web-font fs-2 my-5 text-success fw-bold">Đặt lại mật khẩu thành công!</p>
                        <button pButton type="button" class="text-light bg-success ms-2 mb-5" routerLink="/sign-in">Đăng nhập ngay</button>
                    </ng-template>
                </p-card>
            </div>
        </div>
    </div>
    
</section>
