<section class="">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-lg-8">
                <!-- <div class="title-single-box">
                    <h1 class="title-single">Our Amazing Rooms</h1>
                    <span class="color-text-a">Welcome to our available room</span>
                </div> -->
            </div>
            <div class="col-md-12 col-lg-4">
                <p-breadcrumb 
                    class="breadcrumb-custom" 
                    [model]="items" 
                    [home]="home">
                </p-breadcrumb>
            </div>
        </div>
    </div>
</section>
