<section class="intro-single bg-image">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-md-4">
                <p-card class="rounded-4">
                    <div class="p-card-header" style="display: block;">
                        <div class="text-center">
                            <img class="w-50 img-fluid" src="https://blobcuakhoa.blob.core.windows.net/files/success.gif">
                            <p class="web-font fs-2 my-5 text-success fw-bold">Your email is confirmed!</p>
                            <button pButton type="button" class="text-light bg-success ms-2 mb-5" routerLink="/sign-in" label="Sign in"></button>
                        </div>
                    </div>
                </p-card>
            </div>
        </div>
    </div>
</section>
