<p-toast/>
  <div class="container">
    <div class="d-flex justify-content-between mb-3">
      <h2>Services Management</h2>  <button type="button" class="btn btn-success" (click)="showCreateModal = true">Create new service</button>
    </div>
  
    <p-table [value]="serviceData">
      <ng-template pTemplate="header">
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Description</th>
          <th>Current Price ($)</th>
          <th>Actions</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-service>
        <tr>
          <td>{{ service.id }}</td>
          <td>{{ service.name }}</td>
          <td>{{ service.description }}</td>
          <td>{{ service.servicePriceNumber | currency }}</td>
          <td>
              <button type="button" class="btn btn-primary" (click)="openPriceModal(service)">Update price</button>
          </td>
        </tr>
      </ng-template>
    </p-table>
  
    <p-dialog header="Submit service information" [(visible)]="showCreateModal" [modal]="true"  [style]="{ width: '40%' }">
      <div class="mb-3">
        <label for="name" class="form-label">Service name</label>
        <input placeholder="Enter service name" pInputText type="text" class="form-control" id="name" [(ngModel)]="newService.name">
      </div>
      <div class="mb-3">
        <label for="description" class="form-label">Service description</label>
        <textarea placeholder="Enter service description" pInputTextarea class="form-control" id="description" [(ngModel)]="newService.description"></textarea>
      </div>
      <button ngClass="w-100" class="btn btn-success" (click)="createService()">Submit information</button>
    </p-dialog>
    
  
    <p-dialog header="Update service price" [(visible)]="showPriceModal" [modal]="true">
      <div class="mb-3">
        <label for="amount" class="form-label">Amount</label>
        <input type="number" class="form-control" id="amount" [(ngModel)]="newPrice">
      </div>
      <button type="button" class="btn btn-primary" (click)="createServicePrice()">Update price</button>
    </p-dialog>