<div class="auth-bg-image">
    <div class="container-fluid">
      <div class="row justify-content-center">
        <form [formGroup]="newPasswordForm" (ngSubmit)="resetPassword()" class="col-md-4">
          <p-card class="rounded-4">
            <ng-template pTemplate="header">
              <h3 class="text-center web-font fs-2 my-5 text-dark fw-bolder">Reset Password</h3>
            </ng-template>

            <ng-template pTemplate="content">
                <div class="row mt-4">
                    <div class="p-field col">
                        <label for="newPassword">New Password</label>
                        <input type="password" formControlName="newPassword" pPassword [feedback]="false" placeholder="NewPassword*" [style]="{ 'margin-bottom': '0.5rem' }"/>
                        <i class="pi" style="font-size: 1.5rem" [ngClass]="pwHide ? 'pi-eye-slash' : 'pi-eye'" (click)="pwHide = !pwHide"></i>
                    </div>
                    <div *ngIf="isFieldInvalid('newPassword')" class="text-danger">
                        Password is required and must be at least 8 characters, 1 special characters, 1 cased characters, 1 normal characters
                    </div>
                </div>

                <div class="row mt-3">
                    <div class="p-field col">
                        <label for="confirmedPassword">Confirmed Password</label>
                        <input type="password" formControlName="confirmedPassword" pPassword [feedback]="false" placeholder="ConfirmedPassword*" [style]="{ 'margin-bottom': '0.5rem' }"/>
                        <i class="pi" style="font-size: 1.5rem" [ngClass]="cpwHide ? 'pi-eye-slash' : 'pi-eye'" (click)="cpwHide = !cpwHide"></i>
                    </div>
                    <div *ngIf="isFieldInvalid('confirmedPassword')" class="text-danger">
                        Passwords must match.
                    </div>
                </div>
            </ng-template>

            <ng-template pTemplate="footer">
              <button class="w-100" pButton type="submit" [ngClass]="{'text-light': !newPasswordForm.valid, 'text-light pastel-bg': newPasswordForm.valid}" [disabled]="!newPasswordForm.valid">
                Reset
              </button>
            </ng-template>
          </p-card>
        </form>
      </div>
    </div>
  </div>
  