<!-- <section class="intro-single bg-image">
    <div class="container-fluid">
      <div class="row justify-content-center"> -->

<p-toast></p-toast>

<section class="intro-single bg-image">
  <div class="mt-5 pt-5">
    <div class="limiter">
      <div class="container-login100">
        <div
          class="wrap-login100 p-l-110 p-r-110 p-t-62 p-b-33"
          style="margin-top: 5%"
        >
        <form [formGroup]="newPasswordForm" (ngSubmit)="resetPassword()" class="login100-form validate-form flex-sb flex-w">

          <span class="login100-form-title p-b-53">Reset Password</span>

          <!-- new password field -->
          <div class="p-t-31 p-b-9 pt-2">
            <span class="txt1">New Password</span>
          </div>
          <div class="">
            <p-password formControlName="newPassword" 
                    [style]="{ margin: '1rem 0'}"
                    [toggleMask]="true"
                    [feedback]="true"
                    placeholder="NewPassword*"
                    promptLabel="Enter new password"
                    weakLabel="Weak" 
                    mediumLabel="Medium" 
                    strongLabel="Strong"
                    (input)="checkPasswordCriteria(newPasswordForm.get('newPassword')!.value)">
                    <ng-template pTemplate="header">
                        <h6>Password Strength</h6>
                    </ng-template>
                    <ng-template pTemplate="footer">
                        <p-divider></p-divider>
                        <p class="mt-2">Suggestions</p>
                        <ul class="pl-2 ml-2 mt-0" style="line-height: 1.5">
                            <li [class.text-success]="passwordCriteria.lowercase" [class.text-danger]="!passwordCriteria.lowercase">
                                <i [class.pi]="true" [class.pi-check]="passwordCriteria.lowercase" [class.pi-times]="!passwordCriteria.lowercase"></i>                              
                                At least one lowercase letter
                            </li>

                            <li [class.text-success]="passwordCriteria.uppercase" [class.text-danger]="!passwordCriteria.uppercase">
                                <i [class.pi]="true" [class.pi-check]="passwordCriteria.uppercase" [class.pi-times]="!passwordCriteria.uppercase"></i>
                                At least one uppercase letter
                            </li>
                            
                            <li [class.text-success]="passwordCriteria.number" [class.text-danger]="!passwordCriteria.number">
                                <i [class.pi]="true" [class.pi-check]="passwordCriteria.number" [class.pi-times]="!passwordCriteria.number"></i>
                                At least one number
                            </li>

                            <li [class.text-success]="passwordCriteria.specialChar" [class.text-danger]="!passwordCriteria.specialChar">
                                <i [class.pi]="true" [class.pi-check]="passwordCriteria.specialChar" [class.pi-times]="!passwordCriteria.specialChar"></i>
                                At least one special character
                            </li>

                            <li [class.text-success]="passwordCriteria.minLength" [class.text-danger]="!passwordCriteria.minLength">
                                <i [class.pi]="true" [class.pi-check]="passwordCriteria.minLength" [class.pi-times]="!passwordCriteria.minLength"></i>
                                Minimum 8 characters
                            </li>
                        </ul>
                    </ng-template>
            </p-password>
            <span class="focus-input100"></span>
          </div>
          <div *ngIf="isFieldInvalid('newPassword')" class="text-danger">
            Password is required and must be at least 8 characters, 1 special characters, 1 cased characters, 1 normal characters
          </div>

          <!-- confirm password field -->
          <div class="p-t-31 p-b-9 pt-2">
            <span class="txt1">Confirmed Password</span>
          </div>
          <div class="">
              <p-password formControlName="confirmedPassword" [feedback]="false" [toggleMask]="true" placeholder="Confirmed Password*"></p-password>
              <span class="focus-input100"></span>
          
          </div>
          <div *ngIf="isFieldInvalid('confirmedPassword')" class="error-message">
              Passwords must match.
          </div>

          <!-- submit button -->
          <div class="container-login100-form-btn mt-4 mb-3">
            <button type="submit" class="login100-form-btn w-full">Reset</button>
          </div>

        </form>
      </div>        
    </div>
  </div>
</div>
</section>

      <!-- </div>
    </div>
  </section> -->
  