<div class="bg-image">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-md-4">
                <p-card class="rounded-4">
                    <div class="p-card-header" style="display: block;">
                        <div class="text-center">
                            <img class="w-50 img-fluid" src="https://blobcuakhoa.blob.core.windows.net/files/sent-mail.gif">
                            <p class="web-font fs-2 my-5 text-success fw-bold">Đã gửi thư xác nhận!</p>
                            <p class="web-font fs-4 text-dark fw-bold">Vui lòng kiểm tra hộp thư của bạn tại địa chỉ</p>
                            <p class="web-font fs-2 mb-5 text-warning fw-bold">{{email}}</p>
                        </div>
                    </div>
                </p-card>
            </div>
        </div>
    </div>
</div>
