.bg-image {
    background-image: url('src\assets\images\slide-1.jpg'); 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
    min-height: 100vh; /* Make the div take up at least the full viewport height */
  }