<section class="intro-single bg-image">
    <div class="">
        <div class="container-fluid">
            <div class="row justify-content-center">
                <div class="col-12 col-md-8 col-lg-6 col-xl-4">
                    <p-card class="rounded-4 w-100 mt-3">
                        <div class="p-card-header" style="display: block;">
                            <div class="text-center">
                                <img class="w-50 img-fluid" src="https://blobcuakhoa.blob.core.windows.net/files/sent-mail.gif" alt="Sent Mail">
                                <p class="web-font fs-2 my-5 text-success fw-bold">Đã gửi thư xác nhận!</p>
                                <p class="web-font fs-4 text-dark fw-bold">Vui lòng kiểm tra hộp thư của bạn tại địa chỉ</p>
                                <p class="web-font fs-2 mb-5 text-warning fw-bold" style="word-break: break-all;">{{email}} stormybringer210@gmail.com</p>
                            </div>
                        </div>
                    </p-card>
                </div>
            </div>
        </div>
    </div>
</section>
