<div class="container" style="margin-top: 200px">
    <h2>Order Details</h2>
    <div class="card">
        <div class="card-header">
            Order ID: 12 <!-- Real Data: {{order.id}}  -->
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item"><strong>Room ID:</strong> 21321 <!-- Real Data: {{order.roomId}} --></li>
            <li class="list-group-item"><strong>User ID:</strong> adsdas <!-- Real Data: {{order.userId}} --></li>
            <li class="list-group-item"><strong>Order Date:</strong> adasd
                <!-- Real Data: {{order.orderDate | date}} -->
            </li>
            <li class="list-group-item"><strong>Cancel Date:</strong>asdasd
                <!-- Real Data: {{order.cancelDate | date}} -->
            </li>
            <li class="list-group-item"><strong>User Name:</strong> asdas <!-- Real Data: {{order.userName}} --></li>
            <li class="list-group-item"><strong>Room Name:</strong>dadas adaads <!-- Real Data: {{order.roomName}} -->
            </li>
        </ul>
    </div>
</div>