<section class="intro-single">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-lg-8">
                <div class="title-single-box">
                    <h1 class="title-single">{{room.name}}</h1>
                    <span class="color-text-a">{{room.location}}</span>
                </div>
            </div>
            <div class="col-md-12 col-lg-4">
                <nav aria-label="breadcrumb" class="breadcrumb-box d-flex justify-content-lg-end">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="index.html">Home</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a routerLink="/all-room">Room</a>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page">
                            {{room.name}}
                        </li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</section><!-- End Intro Single-->

<!-- ======= Property Single ======= -->
<section class="property-single nav-arrow-b">
    <div class="container">
        <div class="row row-cols-1 row-cols-md-4 mb-5">
            <ng-container *ngFor="let img of room.roomImages">
                <div class="card text-bg-transparent border-0 px-2 mb-3">
                    <img [src]="img.imgPath" class="card-img w-100" style="max-height: 300px;" alt="...">
                </div>
            </ng-container>
        </div>

        <div class="row mb-5">
            <div class="col-sm-12">

                <div class="row justify-content-between">
                    <div class="col-md-5 col-lg-4">
                        <div class="property-price d-flex justify-content-center foo">
                            <div class="card-header-c d-flex">
                                <div class="card-box-ico">
                                    <span class="bi bi-cash">$</span>
                                </div>
                                <div class="card-title-c align-self-center">
                                    <h5 class="title-c">{{room.costPerDay}}</h5>
                                </div>
                                
                            </div>
                        </div>
                        <div class="property-summary">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="title-box-d section-t4">
                                        <h3 class="title-d">Quick Summary</h3>
                                    </div>
                                </div>
                            </div>
                            <div class="summary-list">
                                <ul class="list">
                                    <li class="d-flex justify-content-between">
                                        <strong>Room ID:</strong>
                                        <span>{{ room.id }}</span>
                                    </li>
                                    <li class="d-flex justify-content-between">
                                        <strong>Location:</strong>
                                        <span>{{ room.location }}</span>
                                    </li>
                                    <li class="d-flex justify-content-between">
                                        <strong>Room Type:</strong>
                                        <span>{{ room.categoryName }}</span>
                                    </li>
                                    <li class="d-flex justify-content-between">
                                        <strong>Status:</strong>
                                        <span>{{ room.isAvailable ? 'Available' : 'Not Available' }}</span>
                                    </li>
                                    <li class="d-flex justify-content-between">
                                        <strong>Area:</strong>
                                        <span>{{ room.roomArea }}m<sup>2</sup></span>
                                    </li>
                                    <li class="d-flex justify-content-between">
                                        <strong>Cost Per Day:</strong>
                                        <span>{{ room.costPerDay }}</span>
                                    </li>
                                    <li class="d-flex justify-content-between">
                                        <strong>Room Size:</strong>
                                        <span>{{ room.roomSize }}</span>
                                    </li>
                                    <li class="d-flex justify-content-between">
                                        <strong>Furniture:</strong>
                                        <span>{{ room.roomFurniture.length }}</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-7 col-lg-7 section-md-t3">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="title-box-d">
                                    <h3 class="title-d">Room Description</h3>
                                </div>
                            </div>
                        </div>
                        <div class="property-description">
                            <p class="description color-text-a">
                                {{room.roomDescription}}
                            </p>
                            <p class="description color-text-a no-margin">
                                {{room.categoryName}} is a {{room.roomSize}}-slot room with {{room.roomArea}}m<sup>2</sup>
                                area. It is located in {{room.location}}. The cost per day is {{room.costPerDay | currency}}. The
                                room is {{room.isAvailable ? 'Available' : 'Not Available'}}. The room is furnished with
                                {{room.roomFurniture.length}} items.
                            </p>
                            <div>
                                <button class="w-100 text-light primary-color-bg mt-5 btn shadow" (click)="onClickBookRoom(room.id)" routerLink="/book-room/{{ room.id }}">
                                    Book Now
                                </button>
                            </div>
                        </div>
                        <div class="row section-t3">
                            <div class="col-sm-12">
                                <div class="title-box-d">
                                    <h3 class="title-d">Room Furniture</h3>
                                </div>
                            </div>
                        </div>
                        <div class="amenities-list color-text-a">
                            <ul class="list-a no-margin">
                                <ng-container *ngFor="let furniture of room.roomFurniture">
                                    <li>{{furniture.furnitureName}}</li>
                                </ng-container>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section><!-- End Property Single-->