<div style="margin-top: 200px">
  <p-table [value]="fees">
    <ng-template pTemplate="header">
      <tr>
        <!-- <th>ID</th> -->
        <th>Category</th>
        <th>Amount</th>
        <th>Due Date</th>
        <th>Status</th>
        <th>Pay</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-fee>
      <tr>
        <!-- <td>{{ fee.id }}</td> -->
        <td>{{ fee.feeCategoryName }}</td>
        <td>{{ fee.amount }}</td>
        <td>{{ fee.paymentDate }}</td>
        <td>{{ fee.feeStatus }}</td>
        <td>
          <p-checkbox
            [binary]="true"
            [disabled]="fee.feeStatus === 1"
            (onChange)="onFeeSelectionChange(fee.id, $event.checked)"
          ></p-checkbox>
        </td>
      </tr>
    </ng-template>
  </p-table>
  <button
    pButton
    type="button"
    label="Pay Fee"
    (click)="paySelectedFees()"
    [disabled]="selectedFeeIds.length === 0"
  ></button>
</div>
