<div class="admin-container">
    <div class="sidebar-container" [ngClass]="{'sidebar-visible': drawerVisible}">
        <p-sidebar [(visible)]="drawerVisible" [position]="'left'" [fullScreen]="true" [showCloseIcon]="false"
            [style]="{'width':'20%', 'background-color': '#0F172A'}" class="auth-bg-image">

            <a routerLink="/home">
                <img class="d-flex mx-auto my-4" src="../../../assets/images/hostel-logo-admin.png" alt="Logo"
                    width="auto" height="150">
            </a>
            <ul class="py-0 list-unstyled">
                <li role="listitem" class="list-item" [ngClass]="{'active': isLinkActive(item.url!)}"
                    *ngFor="let item of items">
                    <a class="text-decoration-none d-flex flex-row align-items-center px-2" [routerLink]="item.url">
                        <i [ngClass]="{'icon-active': isLinkActive(item.url!)}"
                            class="pi pi-fw {{item.icon}} text-secondary mt-0 px-1"></i>
                        <div [ngClass]="{'text-active': isLinkActive(item.url!)}"
                            class="text-center web-font ps-3 text-secondary">
                            {{item.label}}
                        </div>
                    </a>
                </li>
            </ul>
        </p-sidebar>
    </div>
</div>

<div class="p-sidebar-content content-container" [ngClass]="{'content-shift': drawerVisible}">
    <ng-container>
        <button class="my-3 ms-4 p-button p-component p-button-icon-only rounded visible-btn"
            *ngIf="!drawerVisible; else closed" pTooltip="Open menu" (click)="drawerVisible = true">
            <span class="p-button-icon pi pi-chevron-right"></span>
        </button>

        <ng-template #closed>
            <button class="my-3 ms-4 p-button p-component p-button-icon-only rounded visible-btn" pTooltip="Close menu"
                (click)="drawerVisible = false">
                <span class="p-button-icon pi pi-chevron-left"></span>
            </button>
        </ng-template>
        <router-outlet></router-outlet>
    </ng-container>
</div>