<section class="section-property section-t8">

    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="title-wrap d-flex justify-content-between">
            <div class="title-box">
              <h2 class="title-a">Our Rooms</h2>
            </div>
            <div class="title-link">
              <a routerLink="/property-grid">All Property
                <span class="pi pi-chevron-right"></span>
              </a>
            </div>
          </div>
        </div>
      </div>
  
      <p-carousel 
        [value]="properties"
        [numVisible]="3" 
        [numScroll]="1" 
        [circular]="true" 
        [autoplayInterval]="5000">
        <ng-template pTemplate="item" let-property>
          <div class="card-box-a card-shadow">

            <div class="img-box-a">
              <img [src]="property.image" alt="" class="img-a img-fluid">
            </div>

            <div class="card-overlay">
              <div class="card-overlay-a-content">

                <div class="card-header-a">
                  <h2 class="card-title-a">
                    <a [routerLink]="['/property-single', property.id]">{{property.title}}</a>
                  </h2>
                </div>
                
                <div class="card-body-a">
                  <div class="price-box d-flex">
                    <span class="price-a">{{property.price}}</span>
                  </div>
                  <a [routerLink]="['/property-single', property.id]" class="link-a">Click here to view
                    <span class="bi bi-chevron-right"></span>
                  </a>
                </div>

                <div class="card-footer-a">
                  <ul class="card-info d-flex justify-content-around">
                    <li>
                      <h4 class="card-info-title">Area</h4>
                      <span>{{property.area}}</span>
                    </li>
                    <li>
                      <h4 class="card-info-title">Beds</h4>
                      <span>{{property.beds}}</span>
                    </li>
                    <li>
                      <h4 class="card-info-title">Baths</h4>
                      <span>{{property.baths}}</span>
                    </li>
                    <li>
                      <h4 class="card-info-title">Garages</h4>
                      <span>{{property.garages}}</span>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </ng-template>
      </p-carousel>
    </div>
  </section>
  