.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  .list-group-item {
    background-color: transparent;
    border: none;
  }
  
  .form-check {
    margin-bottom: 10px;
  }
  
  .btn-danger {
    margin-left: 5px;
  }
  
  .btn-primary {
    margin-top: 10px;
  }
  
  .btn-success {
    margin-top: 10px;
  }
  