<app-loader [loader]="isLoading"></app-loader>

<!-- <div class="surface-card p-4 shadow-2 border-round w-full lg:w-6">
    <div class="text-center mb-5">
        <img src="https://clipground.com/images/login-logo-png-10.png" alt="Image" height="50" class="mb-3">
        <div class="text-900 text-3xl font-medium mb-3">Welcome Back</div>
        <span class="text-600 font-medium line-height-3">Don't have an account?</span>
        <a class="font-medium no-underline ml-2 text-blue-500 cursor-pointer" routerLink="/sign-up">Create today!</a>
    </div>

        <form [formGroup]="signInForm" (ngSubmit)="onSignIn()" class="col-md-6 mx-auto">
            <div class="form-group text-left">
                <label for="email" class="text-dark font-weight-bold mb-2">Email</label>
                <input id="email" formControlName="email" type="text" placeholder="Email address" class="form-control mb-3">
            </div>

            <div class="form-group text-left">
                <label for="password" class="text-dark font-weight-bold mb-2">Password</label>
                <input id="password" formControlName="password" type="password" placeholder="Password" class="form-control mb-3">
            </div>

            <div class="form-group d-flex align-items-center justify-content-between mb-6">
                <div class="form-check">
                    <p-checkbox id="rememberme1" class="form-check-input" [binary]="true" />
                    <label for="rememberme1" class="form-check-label text-dark">Remember me</label>
                </div>
                <a class="font-weight-bold text-primary text-decoration-none" routerLink="/forgot-password">Forgot password?</a>
            </div>

        <button 
            pButton 
            pRipple 
            label="Sign In" 
            icon="pi pi-user" 
            class="w-full"
            [ngClass]="{'text-light': !signInForm.valid, 'text-light pastel-bg': signInForm.valid}"
            [disabled]="!signInForm.valid">
        </button>
    </form>
</div> -->

<div class="limiter">
    <div class="container-login100 bg-image" >
        <div class="wrap-login100 p-l-110 p-r-110 p-t-62 p-b-33">
            <form [formGroup]="signInForm" (ngSubmit)="onSignIn()" class="login100-form validate-form flex-sb flex-w">
                <span class="login100-form-title p-b-53">
                    Sign In
                </span>
                <div class="p-t-31 p-b-9" for="email">
                    <span class="txt1">
                        Email
                    </span>
                </div>
                <div class="wrap-input100 validate-input">
                    <input class="input100" formControlName="email" p-inputtext type="text" placeholder="Email Address*" name="email" id="email" required>
                    <span class="focus-input100"></span>
                </div>
                
                <div class="p-2">
                    <span class="txt1">
                        Password
                    </span>

                    <a href="#" class="txt2 bo1 m-l-5">
                        Forgot?
                    </a>
                </div>
                <div class="wrap-input100 validate-input" data-validate = "Password is required">
                    <input class="input100" id="password" formControlName="password" type="password" placeholder="Password*" pInputText name="pass" required>
                    <span class="focus-input100"></span>
                </div>

                <div class="container-login100-form-btn mt-4 mb-3">
                    <button 
                        class="login100-form-btn w-full"
                        label="Sign In" 
                        icon="pi pi-user" 
                        [disabled]="!signInForm.valid">
                        Sign In
                    </button>
                </div>
                
                <div class="w-full text-center p-t-55">
                    <span class="txt2">
                        Not a member?
                    </span>

                    <a routerLink="sign-up" class="txt2 bo1">
                        Sign up now
                    </a>
                </div>
                <p-divider align="center">
                    <span class="text-secondary">Or</span>
                </p-divider>
                <div class="align-self-center mb-2 btn-google" id="google-button"></div>
                
            </form>
        </div>
    </div>
</div>