<div class="container">
    <main id="main">

        <!-- ======= Intro Single ======= -->
        <section class="intro-single">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-lg-8">
                        <div class="title-single-box">
                            <h1 class="title-single">Our Amazing Rooms</h1>
                            <span class="color-text-a">Welcome to our available room</span>
                        </div>
                    </div>
                    <div class="col-md-12 col-lg-4">
                        <nav aria-label="breadcrumb" class="breadcrumb-box d-flex justify-content-lg-end">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item">
                                    <a href="#">Home</a>
                                </li>
                                <li class="breadcrumb-item active" aria-current="page">
                                    Rooms Grid
                                </li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </section><!-- End Intro Single-->

        <!-- ======= Property Grid ======= -->
        <section class="property-grid grid">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="grid-option">
                            <form>
                                <select class="custom-select">
                                    <option selected>All</option>
                                    <option value="1">New to Old</option>
                                    <option value="2">For Rent</option>
                                    <option value="3">For Sale</option>
                                </select>
                            </form>
                        </div>
                    </div>


                    <div *ngFor="let room of Rooms" class="col-md-4">
                        <div class="card-box-a card-shadow">
                            <div class="img-box-a">
                                <img [src]="room.imgPath" alt="room-image" class="img-a img-fluid" />
                            </div>
                            <div class="card-overlay">
                                <div class="card-overlay-a-content">
                                    <div class="card-header-a">
                                        <h2 class="card-title-a">
                                            <a href="#">{{ room.name }}</a>
                                        </h2>
                                    </div>
                                    <div class="card-body-a">
                                        <div class="price-box d-flex">
                                            <span class="price-a">rent | ${{ room.costPerDay }}</span>
                                        </div>
                                        <a [routerLink]="['/room-detail', room.id]" class="link-a">Click here to view
                                            <span class="pi pi-chevron-right"></span>
                                        </a>
                                    </div>
                                    <div class="card-footer-a">
                                        <ul class="card-info d-flex justify-content-around">
                                            <li>
                                                <h4 class="card-info-title">Area</h4>
                                                <span class="truncate">{{ room.roomArea }}m<sup>2</sup></span>
                                            </li>
                                            <li *ngFor="let furniture of room.roomFurniture; let i = index">
                                                <h4 class="card-info-title">{{ furniture.furnitureName }}</h4>
                                                <span>{{ furniture.quantity }}</span>
                                              </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>



                </div>
                <!-- <div class="row">
                    <div class="col-sm-12 text-center">
                        <button class="btn btn-primary" (click)="previousPage()"
                            [disabled]="currentPage === 1">Previous</button>
                        <button class="btn btn-primary" (click)="nextPage()">Next</button>
                    </div>
                </div> -->
                <!-- <pagination-controls (pageChange)="currentPage = $event"></pagination-controls> -->
            </div>
        </section><!-- End Property Grid Single-->

    </main><!-- End #main -->
</div>