<div class="bg-soft">
    <div class="container">
        <main id="main">
    
            <!-- ======= Intro Single ======= -->
            <section class="intro-single">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 col-lg-8">
                            <div class="title-single-box">
                                <h1 class="title-single">Our Amazing Rooms</h1>
                                <span class="color-text-a">Welcome to our available room</span>
                            </div>
                        </div>
                    </div>
                </div>
            </section><!-- End Intro Single-->
    
            <section class="property-grid grid">
                <div class="container">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="grid-option">
                                
                                <div class="d-flex flex-column gap-2">
                                    <h5 class="text-start">Filter</h5>
                                    <input placeholder="Enter room name here" type="text" pInputText [(ngModel)]="search"
                                        name="search" />
                                </div>
                                <div class="d-flex flex-column gap-2 mt-3">
                                    <p-dropdown [options]="categories" [(ngModel)]="selectedCategory"
                                        optionValue="categoryName" optionLabel="categoryName" [showClear]="true"
                                        placeholder="Select room category"></p-dropdown>
                                </div>
                                <div class="d-flex flex-column gap-2 mt-3">
                                    <p-dropdown [options]="orderByOptions" [(ngModel)]="orderBy" name="orderBy"
                                        optionValue="value" optionLabel="label" placeholder="Sort By"></p-dropdown>
                                </div>
                                <button ngClass="mt-3 bg-success w-100"  icon="pi pi-search" pButton label="Search" (click)="onSubmit()"></button>
                            </div>
                        </div>
                        
                        <div class="row col-md-9">
                            <ng-container *ngIf="rooms.length > 0; else nodata">
                                <div *ngFor="let room of rooms" class="col-sm-4">
                                    <div class="card-box-a card-shadow">
                                        <div class="img-box-a">
                                            <img [src]="room.imgPath" alt="room-image" class="w-100" style="height: 320px;"/>
                                        </div>
                                        <div class="card-overlay">
                                            <div class="card-overlay-a-content">
                                                <div class="card-header-a">
                                                    <h2 class="card-title-a">
                                                        <a>{{ room.name }}</a>
                                                    </h2>
                                                </div>
                                                <div class="card-body-a">
                                                    <div class="price-box d-flex">
                                                        <span class="price-a">rent | ${{ room.costPerDay }}</span>
                                                    </div>
                                                    <a [routerLink]="['/room-detail', room.id]" class="link-a">Click here to
                                                        view
                                                        <span class="pi pi-chevron-right"></span>
                                                    </a>
                                                </div>
                                                <div class="card-footer-a">
                                                    <ul class="card-info d-flex justify-content-around">
                                                        <li>
                                                            <h4 class="card-info-title">Area</h4>
                                                            <span class="truncate">{{ room.roomArea }}m<sup>2</sup></span>
                                                        </li>
                                                        <li>
                                                            <h4 class="card-info-title">Category</h4>
                                                            <span class="truncate">{{ room.categoryName }}</span>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="flex justify-content-center w-100 align-items-center my-5">
                                    <p-paginator [showCurrentPageReport]="true" #paginator [first]="0" [rows]="6" [totalRecords]="totalRooms"
                                        (onPageChange)="onPageChange($event)"></p-paginator>
                                </div>
                            </ng-container>
                            <ng-template #nodata>
                                <div class="row">
                                    <div class="col-3"></div>
                                    <div class="col-6">
                                        <h1 class="text-center text-dark empty-cart-msg">No rooms matching your criteria were found!</h1>
                                    </div>
                                    <div class="col-3"></div>
                                </div>
                            </ng-template>
                        </div>
                    </div>
                </div>
            </section>
    
        </main>
    </div>
</div>