<p-toast></p-toast>
<p-dialog [header]="'Send email to users'" [(visible)]="showModal" [modal]="true"
    [style]="{ width: '50%', height: '60vh' }">
    <div class="row my-3">
        <p-multiSelect placeholder="Select users email to send email" [options]="users"
            filterPlaceHolder="Enter email, username or user id" filterBy="email,userName,id"
            [(ngModel)]="selectedUsers" optionLabel="email" optionValue="email"></p-multiSelect>
    </div>
    <div class="row my-3" style="padding: 0 12px;">
        <input placeholder="Enter email subject here!" type="text" pInputText [(ngModel)]="subject" />
    </div>
    <div class="row my-3">
        <p-editor placeholder="Enter your email content here!" [(ngModel)]="content"
            [style]="{ height: '240px' }"></p-editor>
    </div>
    <button [disabled]="!isDataValid()" ngClass="w-100" pButton (click)="onSubmit()" pRipple label="Send email to users"
        class="p-button-success"></button>
</p-dialog>
<div class="container">
    <div class="row mb-3">
        <div class="col-12">
            <div class="">
                <button pButton (click)="onClickSendEmailButton()" pRipple label="Send announcement to users"
                    class="p-button p-button-success "> <i class="pi pi-inbox icon ms-1 me-2"></i></button>
            </div>
        </div>
    </div>
    <ng-container *ngIf="adi">
        <div class="row">
            <div class="col-3">
                <div class="card border shadow-xs mb-4">
                    <div class="card-body text-start p-3 w-100">
                        <div class="">
                            <i class="pi pi-user icon fs-3"></i>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <div class="w-100">
                                    <p class="text-sm text-secondary mb-1 bg">Total user in Hosteland</p>
                                    <h4 class="mb-2 font-weight-bold">{{adi.totalUserCount }}</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="card border shadow-xs mb-4">
                    <div class="card-body text-start p-3 w-100">
                        <div class="">
                            <i class="pi pi-box icon fs-3"></i>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <div class="w-100">
                                    <p class="text-sm text-secondary mb-1">Total Furniture in Hosteland</p>
                                    <h4 class="mb-2 font-weight-bold">{{adi.totalFurnitureCount}}</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="card border shadow-xs mb-4">
                    <div class="card-body text-start p-3 w-100">
                        <div class="">
                            <i class="pi pi-home icon fs-3"></i>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <div class="w-100">
                                    <p class="text-sm text-secondary mb-1">Total room in Hosteland</p>
                                    <h4 class="mb-2 font-weight-bold">{{adi.totalRoomCount}}</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="card border shadow-xs mb-4">
                    <div class="card-body text-start p-3 w-100">
                        <div class="">
                            <i class="pi pi-shopping-cart icon fs-2"></i>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <div class="w-100">
                                    <p class="text-sm text-secondary mb-1">Total orders in Hosteland</p>
                                    <h4 class="mb-2 font-weight-bold">{{adi.totalOrderCount}}</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ng-container>
    <div class="row mb-3 mt-2" style="overflow-x: hidden;">
        <div class="mb-3 d-flex">
            <div class="col-3">
                <div class="card shadow-xs border h-100">
                    <div class="card-header pb-0" style="    background: none;
                    border-bottom: none;
                    padding-top: 32px;">
                        <div class="d-sm-flex align-items-center mb-3">
                            <div>
                                <h6 class="fw-bold mb-0 web-font pastel">Statistics of all room status in Hosteland <i
                                        class="pi pi-chart-pie icon"></i></h6>
                            </div>
                        </div>
                    </div>
                    <ng-container *ngIf="roomCountStatistic">
                        <div class="card-body">
                            <app-bar-chart [data]="roomCountStatistic"></app-bar-chart>
                        </div>
                    </ng-container>
                </div>
            </div>
            <div class="col-9 ms-4">
                <div class="card shadow-xs border h-100">
                    <div class="card-header border-bottom pb-0" style="height: auto;     background: none;
                    border-bottom: none !important;
                    padding-top: 32px;">
                        <div class="mb-3">
                            <div class="web-font pastel">
                                <h6 class="fw-bold mb-0">Statistics of daily revenue across the platform
                                    <i class="pi pi-chart-line icon"></i>
                                </h6>
                            </div>
                        </div>
                        <div class="d-sm-flex align-items-center" style="height: 70px;">
                            <div class="">
                                <label for="fromDate">From:</label>
                                <p-calendar id="fromDate" [(ngModel)]="fromDate"
                                    (ngModelChange)="fromDate = $event.toISOString().split('T')[0]" inputId="fromDate"
                                    dateFormat="yy-mm-dd"></p-calendar>
                                <label for="fromDate" class="ms-2">To:</label>
                                <p-calendar id=" toDate" [(ngModel)]="toDate"
                                    (ngModelChange)="toDate = $event.toISOString().split('T')[0]" inputId="toDate"
                                    dateFormat="yy-mm-dd"></p-calendar>

                                <button class="btn btn-primary ms-2" (click)="updateData()"
                                    [disabled]="fromDate && toDate && fromDate > toDate">Submit</button>
                                <div *ngIf="fromDate && toDate && fromDate > toDate" class="error-message">
                                    From Date cannot be greater than To Date.
                                </div>
                            </div>
                        </div>
                    </div>

                    <ng-container *ngIf="dailyRevenue">
                        <div class="card-body py-3" style="overflow-x: hidden;">
                            <app-line-chart [data]="dailyRevenue"></app-line-chart>
                        </div>
                    </ng-container>
                </div>
            </div>
        </div>
    </div>
    <div class="row mb-3 mt-2" style="overflow-x: hidden;">
        <div class="d-flex justify-content-between mb-3">
            <h5>Top 10 Latest Transactions</h5>
        </div>
        <p-table [showCurrentPageReport]="true" [value]="transactions">
            <ng-template pTemplate="header">
                <tr>
                    <th>Transaction ID</th>
                    <th>Created Date</th>
                    <th>Status</th>
                    <th>Amount</th>
                    <th>Payment method</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-transaction>
                <tr class="bg-color-1">
                    <td>{{ transaction.vnPayTransactionId }}</td>
                    <td>{{ transaction.createdDate | date }}</td>
                    <td>
                        <ng-container [ngSwitch]="transaction.transactionStatus">
                            <ng-container *ngSwitchCase="0">
                                <p-tag severity="danger" value="Failed"></p-tag>
                            </ng-container>
                            <ng-container *ngSwitchCase="1">
                                <p-tag severity="success" value="Paid"></p-tag>
                            </ng-container>
                            <ng-container *ngSwitchCase="2">
                                <p-tag severity="danger" value="Failed"></p-tag>
                            </ng-container>
                        </ng-container>
                    </td>
                    <td>{{ transaction.amount | currency }}</td>
                    <td class="align-middle">
                        <div class="d-flex">
                            <div
                                class="border px-1 py-1 text-center d-flex align-items-center border-radius-sm my-auto">
                                <img src="https://s-vnba-cdn.aicms.vn/vnba-media/23/8/16/vnpay-logo_64dc3da9d7a11.jpg"
                                    style="width: 50px; height: auto;" alt="payment-method">
                            </div>
                            <div class="ms-2">
                                <p class="text-dark text-sm mb-0">VN Pay</p>
                                <p class="text-secondary text-sm mb-0">Banking</p>
                            </div>
                        </div>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>
    <div class="row mb-3 mt-4">
        <div class="d-flex justify-content-between mb-3">
            <h5>Top 10 Latest Reports</h5>
        </div>
        <p-table [value]="reports">
            <ng-template pTemplate="header">
                <tr>
                    <th>#</th>
                    <th>Room Id</th>
                    <th>Room Name</th>
                    <th>Author</th>
                    <th>Created Date</th>
                    <th>Start Date</th>
                    <th>End Date</th>
                    <th>Status</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-report>
                <tr class="bg-color-1">
                    <td>{{ report.id }}</td>
                    <td>{{ report.roomId }}</td>
                    <td>{{ report.roomName }}</td>
                    <td>{{ report.authorName }}</td>
                    <td>{{ report.createdDate | date }}</td>
                    <td>{{ report.startDate == null ? 'No data' : report.startDate | date }}</td>
                    <td>{{ report.endDate == null ? 'No data' : report.endDate | date }}</td>
                    <td>
                        <ng-container [ngSwitch]="report.status">
                            <ng-container *ngSwitchCase="0">
                                <p-tag severity="danger" value="Rejected"></p-tag>
                            </ng-container>
                            <ng-container *ngSwitchCase="1">
                                <p-tag severity="warning" value="Pending"></p-tag>
                            </ng-container>
                            <ng-container *ngSwitchCase="2">
                                <p-tag severity="info" value="Processing"></p-tag>
                            </ng-container>
                            <ng-container *ngSwitchCase="3">
                                <p-tag severity="success" value="Completed"></p-tag>
                            </ng-container>
                        </ng-container>
                    </td>

                </tr>
            </ng-template>
            <ng-template pTemplate="empty" let-report>
                <tr>
                    No data yet.
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>